@model InmobiliariaApp.Models.Propietario

@{
    ViewData["Title"] = "Detalles del Propietario";
}

<h1> Hola mundo DNI = @Model.DNIPropietario</h1>


<form asp-action="Actualizar">
    <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
        <div class="dni">
            <label for="">DNI</label>
            <input type="text" name="DNIPropietario" id="" placeholder="Ingrese el DNI del propietario" required
                asp-for="DNIPropietario" value="@Model.DNIPropietario">
        </div>
        <div class="nombre">
            <label for="">Nombre</label>
            <input type="text" name="nombre" id="" placeholder="Ingrese el nombre del propietario" required
                asp-for="Nombre" value="@Model.Nombre">
        </div>
        <div class="apellido">
            <label for="">Apellido</label>
            <input type="text" name="apellido" id="" placeholder="Ingrese el apellido del propietario" required
                asp-for="Apellido" value="@Model.Apellido">
        </div>
        <div class="celular">
            <label for="">Telefono</label>
            <input type="text" name="celular" id="" placeholder="Ingrese el telefono del propietario" required
                asp-for="Celular" value="@Model.Celular">
        </div>
        <div class="email">
            <label for="">Email</label>
            <input type="email" name="email" id="" placeholder="Ingrese el email del propietario" required
                asp-for="Email" value="@Model.Email">
        </div>
        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-success" />
        </div>
    </div>
    <div class="d-flex justify-content-center m-5 gap-2">
    <a class="btn btn-primary text-center" asp-area="" asp-controller="Propietario" asp-action="Listar">Volver
        listado</a>
        </div>
    </div>
</form>