@model InmobiliariaApp.Models.Inquilino
@{
    ViewData["Title"] = "Detalle inquilinos";
}

<h1 class="text-center mb-4">Detalle de @Model.Apellido @Model.Nombre</h1>
<table class="table">
    <thead>
        <tr class="text-center">
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Inmuebles asociados</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>@Model.DNIInquilino</td>
            <td>@Model.Nombre</td>
            <td>@Model.Apellido</td>
            <td>@Model.Celular</td>
            <td>@Model.Email</td>
            <td> aca habria que cambiar la <br>query para que traiga los asociados</td>
        </tr>

    </tbody>

</table>
<div class="d-flex justify-content-center mb-3 gap-2">
    <a class="btn btn-primary text-center" asp-area="" asp-controller="Inquilino" asp-action="Listar">Volver listado</a>
</div>