@model IEnumerable<InmobiliariaApp.Models.Inquilino>
@{
    ViewData["Title"] = "Listar inquilinos";
}


<h1 class="text-center p-3">Listado de inquilinos</h1>

<div class="d-flex justify-content-center mb-3 gap-2">
    <a class="btn btn-success" asp-action="Crear">Agregar nuevo inquilino</a>
</div>

<table class="table">
    <thead class="text-black bg-light bg-gradient">
        <tr class="text-center">
            <th scope="col">DNI</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody class="text-light align-middle bg-table-p bg-gradient">
        @foreach (var inquilino in Model)
        {
            <tr class="text-center">
                <td>@inquilino.DNIInquilino</td>
                <td>@inquilino.Nombre</td>
                <td>@inquilino.Apellido</td>
                <td>@inquilino.Celular</td>
                <td>@inquilino.Email</td>
                <td>
                    <a title="Detalles" class="btn btn-secondary" asp-action="Detalle" asp-route-id="@inquilino.Id">📜
                    </a>
                    <a title="Editar" class="btn btn-primary" asp-action="Editar" asp-route-id="@inquilino.Id">✏️</a>
                    @if (User.IsInRole("administrador"))
                    {
                        <form asp-action="Eliminar" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@inquilino.Id" />
                            <button title="Eliminar" type="submit" class="btn btn-danger btn-eliminar">🗑️</button>
                        </form>
                    }
                    else
                    {
                        <span class="btn btn-danger" style="opacity: 0.5; cursor: not-allowed;"
                            title="Usted no tiene permiso para realizar esta acción">
                            🗑️
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalPaginas > 1)
{
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
            {
                var routeValues = new Dictionary<string, object>
                {
                    { "pagina", i }
                };

                <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Listar", routeValues)">@i</a>
                </li>
            }
        </ul>
    </nav>
}



<!-- alert confimr -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionamos todos los botones con clase btn-eliminar
        const botonesEliminar = document.querySelectorAll('.btn-eliminar');

        botonesEliminar.forEach(function (boton) {
            boton.addEventListener('click', function (e) {
                e.preventDefault(); // Prevenimos el envío automático

                const form = boton.closest('form'); // Obtenemos el formulario padre

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Seguro que deseas eliminar este propietario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit(); // Enviamos el formulario si confirma
                    }
                });
            });
        });
    });
</script>